.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}


.loginform{
  width: 24%;
  // border: solid 1px black;
  }


.maincard{
  // background: rgb(193, 211, 224);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url('/assets/Images/backgroundlogin.jpg');
}

.lazycat h1{
  font-family:Georgia, 'Times New Roman', Times, serif;
}


// .catdiv{

// }