<mat-toolbar class="navbar" color="primary">
    <mat-toolbar-row>
      <span>My App</span>
      <span class="example-spacer"></span>
      <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
        <mat-label>Resources</mat-label>
        <mat-select>
            <!-- <button mat-raised-button color="primary">Primary</button>  -->
            <!-- <button mat-raised-button color="primary">Primary</button>  -->
            <mat-option value="one" type>Attendace Manager</mat-option>
            <mat-option value="two">Leave Manager</mat-option>
          </mat-select>
        
      
        
      </button>
    </mat-toolbar-row>
</mat-toolbar>
